.portfolio-container {
    width: 90%;
    padding: 50px 120px;
}

.portfolio-text {
    font-family: "propis";
    max-width: 800px;
    font-size: 35px;
}

@media (max-width: 544px) {
    .portfolio-container {
        padding: 20px 22px;
    }

    .portfolio-text {
    font-size: 22px; 
    }
}