.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(30, 5, 46);
    color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.footer-logo {
    font-family: "appetite";
    font-size: 45px;
    margin-left: 40px;
    padding: 12px 28px;
}

.footer-menu {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-menu-item {
    font-size: 15px;

}

.footer-address {
    font-size: 15px;
    flex: 4;
}

.footer-warning {
    font-size: 10px;
}

@media (max-width: 544px) {
    .footer-container {
        gap: 10px;
    }

    .footer-logo {
    font-size: 25px;
    margin-left: 15px;
    padding: 7px 10px;
    }

    .footer-menu {
    gap: 10px;  
    }

    .footer-menu-item {
    font-size: 10px;    
    }

    .footer-address {
    font-size: 10px;
    }

    .footer-warning {
        font-size: 7px;  
    }
}
