@import url('./components/var.css');

.toggle-btn-wrapper:has(input[type='checkbox'][id='light']:checked) ~ .content{
    --main-bg: var(--dark-bg);
    --main-color: var(--dark-color);
}

.toggle-btn-wrapper:has(input[type='checkbox'][id='dark']:checked) ~ .content{
    --main-bg: var(--light-bg);
    --main-color: var(--light-color);
}

.content {
    background: var(--main-bg);
    color: var(--main-color);
}