* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "appetite";
  src: url("./components/Fonts/appetite.ttf");
}

@font-face {
  font-family: "pobeda";
  src: url("./components/Fonts/pobeda.ttf");
}

@font-face {
  font-family: "propis";
  src: url("./components/Fonts/propis.ttf");
}
